# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Environment variables
.env

# IDE and editor configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build and distribution
dist/
build/
coverage/

# Temporary files
*.tmp
*.swp
*.swo

# Compiled output
*.out
*.class

# TypeScript
*.tsbuildinfo

# Database files
*.sql
*.sqlite
